header {
    background-color: #bbb;
    padding: 20px 0;
}

.caja-header {
    width: 70%;
    position: relative; /* posicionanmiento relativo a la posicion absoluta de nav */
    margin: 0 auto;
}

nav {
    position: absolute; /* toma como referencia el viewport para posicionarse */
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: bold;
}

.productos {
    width: 70%;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%; /* le damos un tamaño de 30% a cada uno de los elementos, el 10% restante es para los espacios */
}

.productos h2 {
    font-size: 30px;
    font-weight: 700;
}

.producto__descripcion {
    font-size: 18px;
}

.producto__precio {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}